<div class="art-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art1.jpg" media="(max-width: 600px)">
            <img src="/img/art/art1.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Мария Руденко</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item dark col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art2.jpg" media="(max-width: 600px)">
            <img src="/img/art/art2.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Кайхан Салахов</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="/art-detail.html" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art3.jpg" media="(max-width: 600px)">
            <img src="/img/art/art3.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Джейкоб Якубов</span>
    <a href="/art-detail.html" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item dark col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art4.jpg" media="(max-width: 600px)">
            <img src="/img/art/art4.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Владимир Мухин</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art5.jpg" media="(max-width: 600px)">
            <img src="/img/art/art5.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Диана Воуба</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item dark col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art6.jpg" media="(max-width: 600px)">
            <img src="/img/art/art6.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Фаиг Ахмед</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art7.jpg" media="(max-width: 600px)">
            <img src="/img/art/art7.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Катерина Садовски <br> и Ли-Ми-Ян</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/art/art8.jpg" media="(max-width: 600px)">
            <img src="/img/art/art8.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">Владимир Мухин</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>