<div class="shop-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <div class="shop-list__item-info">
        <a href="/shop-detail.html" class="shop-list__item-header">
            Slip dress on thin straps
        </a>
        <span class="shop-list__item-price">140 €</span>
    </div>
    <a href="/shop-detail.html">
        <picture>
            <source srcset="/img/art.jpg" media="(max-width: 600px)">
            <img src="/img/art.jpg" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
</div>
<div class="shop-list__item col-12 col-lg-3 col-md-4 col-sm-6">
    <div class="shop-list__item-info">
        <a href="/shop-detail.html" class="shop-list__item-header text-white">
            ACTIONS PAVE THE WAY
        </a>
        <span class="shop-list__item-price">REQUEST A PRICE</span>
    </div>
    <a href="/shop-detail.html">
        <picture>
            <source srcset="/img/art-filter.jpg" media="(max-width: 600px)">
            <img src="/img/art-filter.jpg" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
</div>