<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 footer-col">
                <div class="icon-list">
                    <div class="icon-list__item">
                        <div class="icon-list__item___icon">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="5.5" width="16" height="12" stroke="black"/>
                                <path d="M13 9V5.5C13 3.01472 10.9853 1 8.5 1C6.01472 1 4 3.01472 4 5.5V9"
                                      stroke="black"/>
                            </svg>
                        </div>
                        <div class="icon-list__item___header">
                            Free Shipping in Russia
                        </div>
                        <div class="icon-list__item___desc">
                            Free shipping on all orders over 500 €
                        </div>
                    </div>
                    <div class="icon-list__item">
                        <div class="icon-list__item___icon">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="5.5" width="16" height="12" stroke="black"/>
                                <path d="M13 9V5.5C13 3.01472 10.9853 1 8.5 1C6.01472 1 4 3.01472 4 5.5V9"
                                      stroke="black"/>
                            </svg>
                        </div>
                        <div class="icon-list__item___header">
                            Free Shipping in Russia
                        </div>
                        <div class="icon-list__item___desc">
                            Free shipping on all orders over 500 €
                        </div>
                    </div>
                    <div class="icon-list__item">
                        <div class="icon-list__item___icon">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="5.5" width="16" height="12" stroke="black"/>
                                <path d="M13 9V5.5C13 3.01472 10.9853 1 8.5 1C6.01472 1 4 3.01472 4 5.5V9"
                                      stroke="black"/>
                            </svg>
                        </div>
                        <div class="icon-list__item___header">
                            Free Shipping in Russia
                        </div>
                        <div class="icon-list__item___desc">
                            Free shipping on all orders over 500 €
                        </div>
                    </div>
                    <div class="icon-list__item">
                        <div class="icon-list__item___icon">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="5.5" width="16" height="12" stroke="black"/>
                                <path d="M13 9V5.5C13 3.01472 10.9853 1 8.5 1C6.01472 1 4 3.01472 4 5.5V9"
                                      stroke="black"/>
                            </svg>
                        </div>
                        <div class="icon-list__item___header">
                            Free Shipping in Russia
                        </div>
                        <div class="icon-list__item___desc">
                            Free shipping on all orders over 500 €
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-col">
                <span class="footer__col-header">Company</span>
                <nav class="nav flex-column">
                    <a class="nav-link active" href="/about.html">About us</a>
                    <a class="nav-link" href="javascript:void(0);">Vacancy</a>
                    <a class="nav-link" href="/lookbook.html">Lookbook</a>
                    <a class="nav-link" href="javascript:void(0);">Delivery And Payment</a>
                    <a class="nav-link" href="javascript:void(0);">Return</a>
                    <a class="nav-link" href="javascript:void(0);">Conditions</a>
                    <a class="nav-link" href="javascript:void(0);">Privacy Policy</a>
                    <a class="nav-link" href="/contacts.html">Contacts</a>
                </nav>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-col">
                <span class="footer__col-header">Subscription</span>
                <p class="footer__col-desc">To receive latest offers and discounts from the shop.</p>
                <div class="subscription">
                    <form action="" id="subsForm">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" name="subs_email" placeholder="Email"
                                   aria-label="Email"
                                   required
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 5L0.5 9.33013L0.5 0.669872L8 5Z" fill="#333333"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="footer__col-desc">
                    Leaving my email I agree to the processing of personal data and accept the conditions
                    <a href="javascript:void(0);">privacy policy</a>
                </p>
                <span class="footer__col-header mt-5">Social</span>
                <div class="social mt-3">
                    <a href="javascript:void(0);" target="_blank" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="javascript:void(0);" target="_blank" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="javascript:void(0);" target="_blank" class="social-icon">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-col">
                <span class="footer__col-header">PAYMENT METHODS</span>
                <p class="footer__col-desc">We support one of the following payment methods.</p>
                <div class="payments">
                    <a href="javascript:void(0);" class="payments-item">
                        <i class="fab fa-cc-visa"></i>
                    </a>
                    <a href="javascript:void(0);" class="payments-item">
                        <i class="fab fa-cc-paypal"></i>
                    </a>
                    <a href="javascript:void(0);" class="payments-item">
                        <i class="fab fa-cc-mastercard"></i>
                    </a>
                </div>
                <span class="footer__col-header mt-5 mb-3">Need support?</span>
                <p>Call +7 (925) 337-37-37</p>

                <p>WHO I AM Gallery Stolyarniy pereulok, 3/13</p>

                <p>&copy;
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </div>
    </div>
</footer>