<div class="art-list__item big-header dark col-lg-6 col-sm-12">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/lookbook/look1-768.jpg" media="(max-width: 767px)">
            <source srcset="/img/lookbook/look1-576.jpg" media="(max-width: 575px)">
            <img src="/img/lookbook/look1.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">WOMEN F/W 2019-2020</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item big-header dark col-lg-6 col-sm-12">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/lookbook/look2-768.jpg" media="(max-width: 767px)">
            <source srcset="/img/lookbook/look2-576.jpg" media="(max-width: 575px)">
            <img src="/img/lookbook/look2.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">MEN F/W 2019-2020</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item big-header col-lg-6 col-sm-12">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/lookbook/look3-768.jpg" media="(max-width: 767px)">
            <source srcset="/img/lookbook/look3-576.jpg" media="(max-width: 575px)">
            <img src="/img/lookbook/look3.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">WOMEN F/W 2018-2019</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>
<div class="art-list__item big-header col-lg-6 col-sm-12">
    <a href="javascript:void(0);" class="art-list__item-picture">
        <picture>
            <source srcset="/img/lookbook/look4-768.jpg" media="(max-width: 767px)">
            <source srcset="/img/lookbook/look4-576.jpg" media="(max-width: 575px)">
            <img src="/img/lookbook/look4.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
    </a>
    <span class="art-list__item-header">WOMEN F/W 2018-2019</span>
    <a href="javascript:void(0);" class="art-list__item-more no-underhover">
        More
        <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
        </svg>
    </a>
</div>