<section class="main-slider" id="mainSlider">
    <div class="main-slider__item">
        <picture>
            <source srcset="img/slider/main-slider1-768.jpg" media="(max-width: 767px)">
            <source srcset="img/slider/main-slider1-576.jpg" media="(max-width: 575px)">
            <source srcset="img/slider/main-slider1-1200.jpg" media="(max-width: 1199px)">
            <img src="/img/slider/main-slider1-1900.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
        <div class="main-slider__header">
            <span class="main-slider__header-mini">FW 19 — 20</span>
            <span class="h1">New Season</span>
        </div>
        <a href="javascript:void(0);" class="no-underhover main-slider__more">
            More
            <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
            </svg>
        </a>
    </div>
    <div class="main-slider__item dark">
        <picture>
            <source srcset="img/slider/main-slider2-768.jpg" media="(max-width: 767px)">
            <source srcset="img/slider/main-slider2-576.jpg" media="(max-width: 575px)">
            <source srcset="img/slider/main-slider2-1200.jpg" media="(max-width: 1199px)">
            <img src="/img/slider/main-slider2-1900.jpg" class="img-fluid art-list__item-picture" alt="">
        </picture>
        <div class="main-slider__header">
            <span class="main-slider__header-mini">FW 19 — 20</span>
            <span class="h1">New Season</span>
        </div>
        <a href="javascript:void(0);" class="no-underhover main-slider__more">
            More
            <svg class="more-arrow" width="61" height="16" viewBox="0 0 61 16" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M4.33145e-07 8L60 8M60 8L52.8571 15M60 8L52.8571 0.999999" stroke="white"/>
            </svg>
        </a>
    </div>
</section>