<div class="shop-list__item col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
    <a href="/shop-detail.html">
        <picture>
            <source srcset="/img/fashion/girl1.png" media="(max-width: 600px)">
            <img src="/img/fashion/girl1.png" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
    <div class="shop-list__item-info">
        <a href="/shop-detail.html" class="shop-list__item-header">
            Slip dress on thin straps
        </a>
        <span class="shop-list__item-price old-price">140 €</span>
        <span class="shop-list__item-price sale-price">115 €</span>
    </div>
</div>
<div class="shop-list__item col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);">
        <picture>
            <source srcset="/img/fashion/girl2.png" media="(max-width: 600px)">
            <img src="/img/fashion/girl2.png" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
    <div class="shop-list__item-info">
        <a href="javascript:void(0);" class="shop-list__item-header">
            Slip dress on thin straps
        </a>
        <span class="shop-list__item-price">140 €</span>
    </div>
</div>
<div class="shop-list__item col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);">
        <picture>
            <source srcset="/img/fashion/girl3.png" media="(max-width: 600px)">
            <img src="/img/fashion/girl3.png" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
    <div class="shop-list__item-info">
        <a href="javascript:void(0);" class="shop-list__item-header">
            Slip dress on thin straps
        </a>
        <span class="shop-list__item-price old-price">140 €</span>
        <span class="shop-list__item-price sale-price">115 €</span>
    </div>
</div>
<div class="shop-list__item col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6">
    <a href="javascript:void(0);">
        <picture>
            <source srcset="/img/fashion/girl4.png" media="(max-width: 600px)">
            <img src="/img/fashion/girl4.png" class="img-fluid shop-list__item-picture" alt="">
        </picture>
    </a>
    <div class="shop-list__item-info">
        <a href="javascript:void(0);" class="shop-list__item-header">
            Slip dress on thin straps
        </a>
        <span class="shop-list__item-price">140 €</span>
    </div>
</div>