<div class="size-guid--wrapper" id="sizeGuid">
    <div class="size-guid--header">
        <div class="size-guid--selector">
            <p data-gender="male">М</p>
            <p data-gender="female" class="active">Ж</p>
        </div>
        <div class="close" id="sizeGuidClose">
            <svg width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M59.5 8L52.3571 15M59.5 8L52.3571 0.999999M59.5 8L6.11959e-07 8" stroke="#333333" />
            </svg>
        </div>
    </div>
    <div class="size-guid--body">
        <table class="desktop">
            <tbody class="_male" style="display:none">
                <tr>
                    <td>USA</td>
                    <td>-</td>
                    <td>-</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>EU</td>
                    <td>30</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>RUS</td>
                    <td>-</td>
                    <td>-</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                </tr>
                <tr class="thead-light">
                    <td></td>
                    <td colspan="2">XS</td>
                    <td colspan="2">S(42)</td>
                    <td colspan="2">M(44)</td>
                    <td colspan="2">L(46)</td>
                    <td colspan="2">XL(48)</td>
                </tr>
                <tr>
                    <td>Обхват шеи</td>
                    <td colspan="2">34</td>
                    <td colspan="2">35</td>
                    <td colspan="2">36</td>
                    <td colspan="2">37</td>
                    <td colspan="2">38</td>
                </tr>
                <tr>
                    <td>Обхват груди</td>
                    <td colspan="2">80</td>
                    <td colspan="2">84</td>
                    <td colspan="2">88</td>
                    <td colspan="2">92</td>
                    <td colspan="2">96</td>
                </tr>
                <tr>
                    <td>Обхват талии</td>
                    <td colspan="2">60</td>
                    <td colspan="2">64</td>
                    <td colspan="2">68</td>
                    <td colspan="2">72</td>
                    <td colspan="2">76</td>
                </tr>
                <tr>
                    <td>Обхват бедер</td>
                    <td colspan="2">84</td>
                    <td colspan="2">90</td>
                    <td colspan="2">96</td>
                    <td colspan="2">102</td>
                    <td colspan="2">106</td>
                </tr>
                <tr>
                    <td>Обхват рукава</td>
                    <td colspan="2">62</td>
                    <td colspan="2">-</td>
                    <td colspan="2">63</td>
                    <td colspan="2">63,5</td>
                    <td colspan="2">64</td>
                </tr>
            </tbody>
            <tbody class="_female">
                <tr>
                    <td>USA</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>EU</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56</td>
                    <td>58</td>
                </tr>
                <tr>
                    <td>RUS</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr class="thead-light">
                    <td></td>
                    <td colspan="2">XS</td>
                    <td colspan="2">S(44)</td>
                    <td colspan="2">M(46)</td>
                    <td colspan="2">L(48)</td>
                    <td colspan="2">XL(50)</td>
                </tr>
                <tr>
                    <td>Обхват шеи</td>
                    <td colspan="2">37</td>
                    <td colspan="2">38</td>
                    <td colspan="2">39</td>
                    <td colspan="2">40</td>
                    <td colspan="2">41</td>
                </tr>
                <tr>
                    <td>Обхват груди</td>
                    <td colspan="2">84</td>
                    <td colspan="2">88</td>
                    <td colspan="2">92</td>
                    <td colspan="2">96</td>
                    <td colspan="2">100</td>
                </tr>
                <tr>
                    <td>Обхват талии</td>
                    <td colspan="2">74</td>
                    <td colspan="2">78</td>
                    <td colspan="2">82</td>
                    <td colspan="2">86</td>
                    <td colspan="2">90</td>
                </tr>
                <tr>
                    <td>Обхват бедер</td>
                    <td colspan="2">88</td>
                    <td colspan="2">94</td>
                    <td colspan="2">100</td>
                    <td colspan="2">106</td>
                    <td colspan="2">112</td>
                </tr>
                <tr>
                    <td>Обхват рукава</td>
                    <td colspan="2">67</td>
                    <td colspan="2">68</td>
                    <td colspan="2">69</td>
                    <td colspan="2">70</td>
                    <td colspan="2">71</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>