@media (max-width: 992px) {
  .footer {
    .footer-col {
      padding: 35px 35px 0;
    }
  }
  /*.header-top__contacts {
    display: none !important;
  }*/
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .main-video {
    background-image: url('/img/main-video-576.jpg');
  }
  .checkout-list__item-image {
    img {
      width: 100%;
    }
  }
  .checkout-list__item-info {
    padding: 35px 35px 20px;
  }
  .subheader .nav-link {
    margin-right: 0;
    padding: 0.5rem 0.3rem;
  }
  .filter {
    margin: 10px 0;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .main-slider__item {
    background-position: 70% 100%;
  }
  .main-video {
    background-image: url('/img/main-video-768.jpg');
    height: 650px;
  }
  .content-page__text-mini {
    max-width: 100%;

    .btn-big-absolute {
      position: initial;
      width: 100%;
    }
  }
  .blog-list {
    picture {
      display: block;
      position: relative;
      z-index: -1;
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
      -ms-filter: brightness(50%);
    }

    &.no-image {
      .blog-list__item-content {
        color: $primaryColor;
      }

      .blog-list__item-more {
        color: $primaryColor;

        svg path {
          stroke: $primaryColor;
        }
      }
    }

    &__item {
      &-content {
        z-index: 1;
        color: #fff;
      }

      &-date {
        top: $defaultPadding;
        padding-right: $defaultPadding;
      }

      &-header {
        top: 60px;
        padding-right: $defaultPadding;

        a {
          color: #fff;
        }
      }

      &-more {
        color: #fff;

        svg path {
          stroke: #fff;
        }
      }
    }
  }
  .shop-detail__content {
    max-width: 100%;
  }
  .shop-detail__container-slider {
    max-width: 100%;
  }
  .subheader .subheader__search {
    padding-left: $defaultPadding;

    input {
      text-align: left;
      padding-left: 0;

      &:focus {
        padding-left: 15px;
      }
    }
  }
  .dropdown-menu-custom.main-menu {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    top: calc(60px + 80px);
  }
  .shop-list__item-info {
    padding-right: 35px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .main-video {
    background-image: url('/img/main-video-992.jpg');
  }
  .header-top__contacts {
    display: none !important;
  }
  .shop-detail__container {
    padding: 35px 35px 0 35px;
  }
  .shop-detail__container-slider {
    max-width: 90%;
  }
  .contacts {
    &__pre-send {
      width: auto;
    }

    iframe {
      height: 400px;
    }
  }
  .header-top {
    .cart {
      width: auto;
    }
    .mobile-item-lang {
      // margin-top: 30px;
      .nav-link {
        display: inline-block;
        margin-right: 0;
        padding: 0.1rem;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
// Extra large devices (desktops, less than 1400px)
@media (max-width: 1399px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .main-video {
    background-image: url('/img/main-video-1200.jpg');
  }
  .content-page__text-mini {
    &.absolute-bottom {
      position: initial;
    }
  }
  .shop-detail__container-slider {
    margin-top: 50px;
  }
  .header-top__contacts .phone {
    margin-right: 10px;
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
  }
  .main-slider__header-mini {
    margin-left: 0;
    font-size: 20px;
  }
}
