$primaryFontWeight: normal;
$primaryFontSize: 12px;
$primaryFontFamily: 'Montserrat', sans-serif;
$primaryFont: $primaryFontSize $primaryFontFamily;
$primaryBgColor: #fff;
$primaryColor: #000;
$linkColor: #000;
$linkHoverColor: rgba(0, 0, 0, .7);
$grayBg: #E5E5E5;
$borderGreyColor: #C4C4C4;
$colorDanger: #dc3545;
$defaultPadding: 35px;
$subHeaderActiveColor: #93302B;

// colors palette

$paletteRed: #EB5757;
$paletteOrange: #F2994A;
$paletteYellow: #F2C94C;
$paletteGreen: #219653;
$paletteLightGreen: #6FCF97;
$paletteBlue: #2F80ED;
$paletteLightBlue: #56CCF2;
$palettePurple: #BB6BD9;
$paletteBlack: #333333;
$paletteWhite: #fff;
$paletteGray: #C4C4C4;