.grid-item {
  overflow: hidden;
  height: 400px;
  @media (max-width: 768px) {
    height: 200px;
  }
  @media (max-width: 575px) {
    height: 100px;
  }
  img {
    opacity: 0;
  }
  &.hori {
    height: 200px;
    @media (max-width: 768px) {
      height: 100px;
    }
    @media (max-width: 575px) {
      height: 50px;
    }
  }
  a > div {
    border: solid 1px #fff;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
