.shop-list {
  &__item {
    position: relative;

    a {
      display: block;
    }

    &-info {
      /*position: absolute;
      top: 35px;
      left: 35px;*/
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: $defaultPadding;
    }

    &-header {
      display: block;
    }

    &-price {
      display: block;

      &.old-price {
        text-decoration: line-through;
      }

      &.sale-price {
        color: $subHeaderActiveColor;
      }
    }

    &-picture {
      width: 100%;

      &:hover {
      }
    }
  }
}

.shop-detail {
  &__container {
    padding: 140px 0 0 $defaultPadding;

    &-slider {
      margin-top: 140px;
      max-width: 640px;

      .slick-slide {
        outline: none;
      }

      .slick-current {
        border: 1px solid $primaryColor;
      }
    }
  }

  &__content {
    max-width: 450px;

    &-title {
      font-size: 20px;
    }

    &-price {
      font-size: 20px;

      &.old-price {
        text-decoration: line-through;
      }
    }

    &-sale {
      text-align: right;
      span {
        color: #93302b;
      }
    }
    &-btn-link {
      text-decoration: underline;
    }
    &-desc {
      margin-top: $defaultPadding;
    }

    .colors-list {
      margin-bottom: 40px;

      .colors-list__item {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #addToCart {
      font-size: 12px;

      svg {
        opacity: 0;
        width: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {
        svg {
          opacity: 1;
          margin-left: 10px;
          width: auto;
          transition: opacity 0.3s ease;
        }
      }
    }

    &-params {
      span {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  .size-guid {
    &--wrapper {
      padding: 0 35px;
      position: absolute;
      z-index: 10;
      background: #fff;
      left: 100%;
      width: 100%;
      top: 50px;
      transition: all 0.5s ease-out;
      &.active {
        left: 0;
      }
    }
    &--header {
      display: flex;
      justify-content: space-between;
      .close {
        opacity: 1;
        cursor: pointer;
        transform: translateX(-20px);
        transition: all 0.3s ease-out;
        &:hover {
          transform: translateX(0);
        }
      }
    }
    &--selector {
      width: 60px;
      justify-content: space-between;
      display: flex;

      p {
        font-size: 20px;
        cursor: pointer;
        &.active {
          text-decoration: underline;
        }
      }
    }
    &--body {
      padding-bottom: 50px;
      table {
        margin-top: 20px;
        tr {
          &.thead-light {
            background-color: rgba(196, 196, 196, 0.3);
          }
          td {
            border: solid 1px #c4c4c4;
            width: 59px;
            min-width: 59px;
            padding: 12px 0;
            text-align: center;
            @media (max-width: 1440px) {
              width: 45px;
              min-width: 45px;
              font-size: 0.8em;
            }
            @media (max-width: 1100px) {
              width: 35px;
              min-width: 35px;
              font-size: 0.6em;
            }
          }
          td:first-child {
            width: 118px;
            min-width: 118px;
            text-transform: uppercase;
            @media (max-width: 1440px) {
              width: 100px;
              min-width: 100px;
            }
            @media (max-width: 1100px) {
              width: 70px;
              min-width: 70px;
            }
          }
        }
      }
    }
  }
}
