<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="content-page">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="content-page__text content-page__about">
                        <h1>About us</h1>
                        <div class="content-page__text-mini absolute-bottom">
                            <p>
                                WHO I AM Gallery is an interdisciplinary space that unites fashion, design and
                                contemporary
                                art.
                                The gallery regularly hosts exhibitions, lectures, discussions and concerts.
                            </p>
                            <p>
                                WHO I AM Gallery is interested in the support and development of contemporary art. Each
                                project
                                of the gallery in collaboration with contemporary artists is a free artistic statement,
                                addressing a variety of aspects and issues of contemporary culture.
                            </p>
                            <p>
                                In addition to selling the works of contemporary art, exhibition-making and educational
                                activities, we work in the field of interior design and art consulting. The gallery
                                represents
                                not only the works of contemporary artists but also the WHO/AM clothing brand, jewelry
                                of
                                the
                                YAKUBOV Jewelry House and unique items of collectible design.
                            </p>
                            <p>
                                The founder of the gallery, <a href="javascript:void(0);">Jacob Yakubov</a>, is an
                                entrepreneur, artist, gallerist and creator
                                of
                                the brands WHO/AM and ЯKUBOV Jewelry House.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="img/about.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <%= require('../partials/footer.html') %>
</body>

</html>