<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="subheader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <%= require('../partials/svg-icons/_arrow-back-icon.html') %>
                    <span class="subheader__page-title">Contacts</span>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-8 col-md-12 order-2 order-lg-1">
                    <iframe id="city_msc"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.3366701742543!2d37.56823474473481!3d55.764176559288444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a2db783862d%3A0x20398d4463b79f83!2z0KHRgtC-0LvRj9GA0L3Ri9C5INC_0LXRgC4sIDMg0LrQvtGA0L_Rg9GBIDEzLCDQnNC-0YHQutCy0LAsIDEyMzAyMg!5e0!3m2!1sru!2sru!4v1573987474047!5m2!1sru!2sru"
                        width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                    <iframe id="city_khv" style="display:none"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d742.2656657660416!2d135.0687451949068!3d48.473139559236024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5efae992a2246d91%3A0xb574dc5683f708ff!2sEl%20Boutique%20boutique%20%26%20cafe!5e0!3m2!1sen!2sru!4v1599078750661!5m2!1sen!2sru"
                        width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="col-lg-4 col-md-12 order-1 order-lg-2" id="store_locations">
                    <div class="contacts__info active" data-city="msc">
                        <p><strong>Москва</strong> – WHO I AM Gallery – flagship store</p>
                        <p>Столярный переулок, 3/13, Москва, Россия, 123022</p>
                        <p><a href="tel:+79253373737">+7 (925) 337-37-37</a></p>
                        <p><a href="mailto:info@who-iam.com">info@who-iam.com</a></p>
                        <p>Мы работаем: 11 - 20, Пн - Пт / по записи, Сб - Вс</p>
                    </div>
                    <div class="contacts__info" data-city="khv">
                        <p><strong>Хабаровск</strong> – EL BOUTIQUE</p>
                        <p>ул.Запарина, 51, Хабаровск, магазин El_ boutique, 680000</p>
                    </div>
                    <div class="contacts__form">
                        <span class="header-gray">СВЯЖИТЕСЬ С НАМИ</span>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control bg-white" name="name" placeholder="Имя"
                                    aria-label="Имя" required aria-describedby="basic-addon2">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control bg-white" name="email" placeholder="email"
                                    aria-label="email" required aria-describedby="basic-addon2">
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control bg-white" name="Комментарий"
                                    placeholder="message" aria-label="message" required
                                    aria-describedby="basic-addon2"></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block">Отправить</button>
                        </form>
                        <p class="contacts__pre-send">Нажимая на кнопку "Сделать заказ!", я подтверждаю свое
                            согласие на обработку персональных данных
                            в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 и принимаю условия
                            Договора-оферты и Политики конфиденциальности</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%= require('../partials/footer.html') %>
</body>

</html>