<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>
<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="subheader">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md-10 pl-default">
                    <%= require('../partials/svg-icons/_arrow-back-icon.html') %>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-single">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="content-page__text">
                        <span class="content-page__text-title">Artisanal techniques: fabric dyeing</span>
                        <span class="content-page__text-date">by WHO I AM Gallery > 11.05.2018</span>
                        <div class="content-page__text-mini text-fullwidth absolute-bottom">
                            <p>0 октября в арт-пространстве WHO I AM открылась выставка художественного дуэта Лилии
                                Ли-Ми-Ян и Катерины Садовски. Выставка «Rethinking» представляет работы из
                                переработанного пластика.</p>

                            <p>Благодарим каждого, кто провел с нами этот вечер!</p>

                            <p>Открытие сопровождалось концертом группы Second Sound, чья основная тема творчества —
                                природа и вселенная, со всеми загадками, таинственностью и величием.</p>

                            <p>В поддержку выставки «Rethinking» бренд WHO/AM представил лимитированную капсулу,
                                созданную в коллаборации с художественным дуэтом Li-Mi-Yan&Sadovsky.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="img/plastic.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row no-gutters event-gallery grid" id="lightgallery">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery1.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery1.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery2.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery2.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery3.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery3.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery4.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery4.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery5.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery5.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery6.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery6.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery10.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery10.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery10.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery7.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery7.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery8.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery8.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="img/event-gallery_2/gallery9.jpg" class="gallery-item">
                        <div style="background-image:url(img/event-gallery_2/gallery9.jpg)">
                        </div>
                        <img src="img/event-gallery_2/gallery9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="more-btn">
                        <a href="javascript:void(0);">
                            <span>MORE</span>
                            <svg width="16" height="31" viewBox="0 0 16 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 30L1 22.8571M8 30L15 22.8571M8 30L8 -3.0598e-07" stroke="#000200" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= require('../partials/footer.html') %>
    <script>
        window.onload = function () {
            var grid = document.querySelector('.grid');

            var msnry = new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true
            });

            imagesLoaded(grid).on('progress', function () {

                var grid_arr = grid.querySelectorAll('.grid-item');

                for (var i = 0; i < grid_arr.length; i++) {
                    // console.log(grid_arr[i]);
                    grid_arr[i].querySelector('img').height;
                    if (grid_arr[i].querySelector('img').height < grid_arr[i].querySelector('img').width) {
                        grid_arr[i].classList.add('hori');
                    }
                }
                // layout Masonry after each image loads
                msnry.layout();
            });
        };
    </script>
</body>

</html>