<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="content-page">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="content-page__text pb-0">
                        <h1>Политика конфиденциальности</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-page__text">
                        <p class="h5">О WHO/AM</p>
                        <p>
                            ИП Якубов Глеб Анатольевич является владельцем сайта ru.who-iam.com («Сайт»).
                        </p>
                        <p>
                            Мы считаем своей обязанностью защищать вашу конфиденциальность. Мы собираем, храним и
                            используем ваши персональные данные в соответствии с Законом РФ «О персональных данных»,
                            N 152-ФЗ и другими применимыми местными законами.
                        </p>
                        <p class="h5">ОБЩЕЕ</p>
                        <p>
                            Пользуясь Сайтом, вы выражаете полное согласие с положениями настоящей Политики
                            Конфиденциальности. В случае, если вы не согласны с настоящей Политикой, немедленно
                            покиньте Сайт.
                        </p>
                        <p>
                            Цель настоящей Политики Конфиденциальности - проинформировать вас о том,
                            как мы будем использовать ваши персональные данные, которые вы нам предоставили через Сайт.
                            Посещая наш Сайт, вы обязуетесь соблюдать настоящую Политику Конфиденциальности и Условия.
                            Пожалуйста, ознакомьтесь с ней, прежде чем пользоваться Сайтом далее.
                        </p>
                        <p class="h5">ВАШИ ПЕРСОНАЛЬНЫЕ ДАННЫЕ И КАК МЫ ИХ ИСПОЛЬЗУЕМ</p>
                        <p>
                            Вы можете пользоваться большей частью нашего Сайта без предоставления
                            каких-либо персональных данных. Однако если вы хотите отправить нам сообщение или
                            пообщаться онлайн, тогда вам потребуется предоставить определённую информацию. Она может
                            включать ваше имя, адрес или месторасположение, номер телефона и адрес электронной
                            почты, ваше сообщение или любую другую информацию, которой вы хотели бы поделиться с
                            нами.
                        </p>
                        <p>
                            Если вы хотите получать новости о последних поступлениях, скидках и специальных
                            предложениях, вам нужно подписаться на рассылку, оставив адрес своей электронной почты в
                            соответствующем разделе.
                        </p>
                        <p>
                            Пожалуйста, обратите внимание, что при оформлении заказа
                            товаров или услуг, для вас будет автоматически создан аккаунт на нашем сайте на
                            основании данных, которые вы нам предоставите.
                        </p>
                        <p>
                            Мы запросим ваш номер телефона, чтобы
                            продолжить обработку вашего заказа и чтобы сообщить о его статусе. Также мы запрашиваем
                            день и месяц вашего рождения для предоставления специальных предложений в ваш день
                            рождения.
                        </p>
                        <p class="h5">ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ ТРЕТЬИМ ЛИЦАМ</p>
                        <p>
                            Каждый раз, когда мы запрашиваем ваши персональные данные, мы требуем подтверждения, что
                            вы согласны предоставить их для дальнейшей обработки и использования.
                        </p>
                        <p>
                            Мы будем
                            передавать ваши имя, фамилию, электронную
                            почту, адрес доставки и номер телефона курьерским службам для организации доставки ваших
                            заказов.
                        </p>
                        <p>
                            Кроме этого, мы будем передавать ваши имя, фамилию и адрес электронной почты
                            компаниям, предоставляющим услуги в сети Интернет, для оповещения вас о последних
                            поступлениях, действующих скидках и специальных предложениях, для оптимизации работы
                            сайта, ведения статистики и таргетирования рекламы.
                        </p>
                        <p>
                            Обратите внимание, что мы не
                            обрабатываем и не храним данные о платежных картах. Мы сотрудничаем с третьими лицами
                            для обработки оплаты, и только эти лица будут иметь доступ к данным ваших платежных
                            карт.
                        </p>
                        <p>
                            Мы также ведём запись товаров, приобретённых вами у нас и партнерских бутиков.
                            Таким образом, мы можем быстрее разобраться с любыми возникшими проблемами или
                            запросами, а также удостовериться, что вся отсылаемая вам информация относится к
                            проблемам с вашим заказом или к вашим запросам.
                        </p>
                        <p>
                            Собранная информация позволяет нам:
                        </p>
                        <ul class="clear-list">
                            <li>
                                Предоставить товары и услуги, которые вы заказали;
                            </li>
                            <li>
                                Подтвердить вашу личность и детали
                                вашего способа оплаты или счёта кредитной картой;
                            </li>
                            <li>
                                Управлять нашим Сайтом и оказывать
                                услуги обслуживания клиентов;
                            </li>
                            <li>
                                Общаться с вами (через электронную почту и телефон в
                                случае, если вы предоставили такие данные);
                            </li>
                            <li>
                                Сообщать вам о наших предложениях, услугах
                                или товарах;
                            </li>
                            <li>
                                Предоставлять ваши данные третьим лицам, занимающимся доставкой заказов,
                                подтверждением заказов, подтверждением оплаты, исключением случаев мошенничества (в том
                                числе правоохранительным органам).
                            </li>
                            <li>
                                Мы также можем раскрыть ваш аккаунт и другие
                                персональные данные, если это будет необходимо в соответствии с законом, чтобы защищать
                                права, имущество, безопасность наших пользователей или других третьих лиц.
                        </ul>
                        <p>
                            Раскрытие
                            вашего аккаунта и других персональных данных включает в себя обмен информацией с другими
                            компаниями и организациями для проверки личности в целях защиты от мошенничества.
                            Указанные действия выполняются в мере, допустимой применимыми законами. Мы можем
                            опубликовывать совокупную, анонимную статистику о количестве посетителей нашего Сайта
                            или о числе покупок третьим лицам, включающим наших инвесторов.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-page__text">
                        <p class="h5">ДОСТУП К ВАШИМ ПЕРСОНАЛЬНЫМ ДАННЫМ</p>
                        <p>
                            Мы бережем конфиденциальность наших клиентов, поэтому принимаем
                            разумные меры по защите от неавторизованного доступа к нашим базам данных.
                        </p>
                        <p>
                            Только
                            авторизованные
                            сотрудники компании имеют доступ к вашим персональным данным. Мы используем защищённый от
                            неавторизованного физического доступа сервер и последние версии антивирусного программного
                            обеспечения.
                        </p>
                        <p>
                            Чтобы увидеть ваши персональные данные, которые у нас имеются, пожалуйста,
                            свяжитесь с
                            нами через контактную форму. Согласно законодательству, мы можем запросить небольшую плату
                            за
                            предоставление копии ваших персональных данных.
                        </p>
                        <p class="h5">КОММУНИКАЦИЯ И МАРКЕТИНГ</p>
                        <p>
                            Чтобы подписаться на нашу
                            рассылку с информацией о новых товарах, услугах, интересном материале и событиях, чтобы
                            получать
                            специальные предложения по электронной почте или телефону, пожалуйста, заполните форму
                            подписки.
                            Если вы осуществляете покупки на нашем Сайте, мы можем иногда использовать адрес вашей
                            электронной
                            почты, чтобы выслать нашу рассылку и сообщить о специальных предложениях.
                        </p>
                        <p>
                            Пожалуйста, обратите внимание, что любой способ связи через электронную почту или телефон
                            будет осуществлён исключительно нами. Мы не продаём и не передаём любым другим способом ваши
                            контактные данные третьим лицам в целях маркетинга. Вы можете отказаться от таких
                            коммуникаций в любое время.
                        </p>
                        <p class="h5">ПОЛИТИКА COOKIES</p>
                        <p>
                            Когда вы
                            пользуетесь Сайтом, мы собираем cookies — маленькие объемы информации, которые передает ваш
                            интернет-браузер нашему Сайту. Мы используем их для:
                        </p>
                        <ul class="clear-list">
                            <li>
                                Идентификации вашего браузера на каждой
                                конкретной странице (без этого мы не смогли бы обеспечить запоминание вашего пароля,
                                содержимого
                                корзины и предыдущих заказов).
                            </li>
                            <li>
                                Сбора информации о поведении пользователей на нашем сайте. Эти данные передаются
                                анонимно, так что по ним мы не можем идентифицировать покупателя.
                            </li>
                            <li>
                                Сбора информации о стране, откуда пользователь заходит на Сайт, используемом языке,
                                устройстве и операционной системе. Эта информация также обезличена и не может быть
                                использована для идентификации пользователя и отслеживания его истории посещений на
                                других сайтах.
                            </li>
                            <li>
                                Сбора информации о том, с какого ресурса
                                пользователь перешел на Сайт. Она позволяет нам настраивать рекламные кампании на
                                сторонних ресурсах
                                и персонифицировать рекламу согласно предпочтениям каждого конкретного покупателя.
                            </li>
                        </ul>
                        <p class="h5">БЕЗОПАСНОСТЬ</p>
                        <p>
                            Мы проявляем разумные меры, чтобы поддерживать подходящий уровень безопасности,
                            обеспечивая необходимую защиту, неприкосновенность и конфиденциальность информации, которую
                            вы нам предоставили. Пожалуйста, учитывайте, что если вы добровольно размещаете ваши
                            персональные данные онлайн в незащищённой среде эта информация может быть собрана и
                            использована другими вне нашего контроля.
                        </p>
                        <p class="h5">ОБНОВЛЕНИЯ К ЭТОЙ ПОЛИТИКИ</p>
                        <p>
                            Эта Политика Конфиденциальности последний раз была обновлена в октябре 2017. Мы будем
                            опубликовывать любые обновления к нашей Политике Конфиденциальности на этой странице.
                            Пожалуйста, обращайтесь к файлу регулярно, чтобы оставаться в курсе всех обновлений Политики
                            Конфиденциальности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= require('../partials/footer.html') %>
</body>

</html>