<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body class="search_page">
    <%= require('../partials/top-menu.html') %>
    <div class="container-fluid p-0">
        <div class="row no-gutters shop-list">
            <%= require('../partials/shop-list.html') %>
        </div>
    </div>

    <%= require('../partials/footer.html') %>
</body>

</html>